# compiled output
/dist
/node_modules
docker-images
/tmp
images/
videos/

# ignore .git and .cache folders
.git
.gitignore
.cache

.docker
.dockerignore
Dockerfile*
docker-compose*
*.env

*.md
!README*.md
README-secret.md

npm-debug.log
LICENSE

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json